:root {
    --primary-color: #42a5f5;
    --secondary-color: #00796b;
    --text-color: #333;
    --color-blue-500: #A0C1FF;
    --color-blue-600: #0059FC;
    --color-blue-700: #00369B;
    --color-blue-750: #003699;
    --color-blue-800: #253556;
    --color-blue-900: #001744;
  }